---
import ColorPicker from '../components/ColorPicker.astro';
---

<html>
  <head>
    <title>Color Picker Demo</title>
  </head>
  <body>
    <h1>Color Picker</h1>
    <ColorPicker />
  </body>
</html>